<div class="edit-alias-form">

    <h2 mat-dialog-title>{{title}}</h2>

    <mat-dialog-content [formGroup]="form">
        <mat-form-field>
            <textarea matInput placeholder="full URL" formControlName="fullUrl"
                pattern="^([a-z]{3,20}):\/\/[a-zA-Z0-9@:%._\+~#=]{2,256}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"></textarea>
            <mat-error *ngIf="form.controls['fullUrl'].hasError">
                input is required and have to be valid URL
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf=showAliasItem>
            <input matInput placeholder="Alias (shorten URL)" formControlName="alias" pattern="[a-z0-9_\-]*"
                [readonly]="!(AliasEditable || userIsAdmin)">
            <mat-error *ngIf="form.controls['alias'].hasError">
                input is required and should contain only lower case letters, numbers, or hyphens
            </mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="public" labelPosition=before>Public</mat-checkbox>

        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Expiry Date" formControlName="expiryDate">
            <mat-hint>DD.MM.YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Owner" formControlName="owner" [readonly]="!userIsAdmin">
            <mat-error *ngIf="form.controls['owner'].hasError">
                input is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button (click)="close()">Close</button>
        <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">Save</button>
    </mat-dialog-actions>
</div>