<div *ngif debug>
<h2>Auth Service Properties</h2>

<p>has token: {{ this.authService.hasValidAccessToken() }}</p>
<h2>Token Content</h2>

<p>Identity: {{ userName }}</p>
<p>Roles: {{ idToken }}</p>

<div>
    <button mat-raised-button (click)="logout()">
        Logout
    </button>
</div>    
</div>

<div>
    <mat-spinner [diameter]="300"></mat-spinner>
</div>