<div class="login-container">

  <h1 style="text-align:center;">Welcome from Shorty - your URL-Shortener</h1>

  <p>
    I provide you with <strong>short</strong> aliases for (long) URLs which you use as {{ DSP_ORIGIN }}/your-alias -
    I'll forward your browser to the original URL.
  </p>
  <p>Aliases can be </p>
  <ul>
    <li>Named aliases: the author has choosen a simple name for this long living alias.</li>
    <li>Random aliases: the system found an alias (letters and numbers). This will be used to share articels or other
      ressources eg. in campaigns.</li>
  </ul>

  <form (ngSubmit)="submit()">
    <div style="background-color:lightgray; text-align:center;">
      <mat-form-field appearance="outline" style="margin-top: 16px;">
        <mat-label>Enter alias to go to</mat-label>
        <input matInput type="text" [(ngModel)]="alias2go2" [ngModelOptions]="{standalone: true}" placeholder="Alias"
          style="color: black;">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="alias2go2=''" type="button">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <p>
        <button mat-raised-button color="primary" style="margin-bottom: 16px;" (click)="submit()"
          [disabled]="!alias2go2">proceed to this</button>
      </p>
    </div>
  </form>

  <h3>Login enables you to...</h3>
  <ul>
    <li>edit aliases</li>
    <li>use private aliases (for company internal use only) </li>
  </ul>
  <div style="text-align:center;">
    <div *ngIf="!isLoggedIn(); else elseBlock">
      <p>Please login using your Company account.</p>

      <button mat-raised-button color="primary" (click)="login()">
        Login
      </button>
    </div>

    <ng-template #elseBlock>
      <p>
        You are logged in
      </p>
      <p>
        <button mat-raised-button color="primary" (click)="gotoAliasesPage()">
          Aliases
        </button>
      </p>
      <button mat-raised-button color="warn" (click)="logout()">
        Logout
      </button>

    </ng-template>
  </div>
</div>