<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Shorty-{{ .Title }}</title>
  <base href="/clientfiles/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!--link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&amp;display=swap" rel="stylesheet"-->
  <!--link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"-->
  <link href="{{ .CssFile }}" rel="stylesheet">
  <!--link rel="stylesheet" href="styles.css"-->
</head>

<body class="mat-typography">
  <h1>Welcome!</h1>
  <p>
    I'm Shorty - your URL shortener service.
  </p>
  <p>
    I'm sorry - unfortunately I'm unable to serve your request for <strong>{{ .RequestedPath }}</strong>. 
  </p>
  <p>
    {{ .Reason }}
  </p>

  <!--script src="polyfills.js" type="module"></script-->
  <!--script src="styles.js" defer></script-->
</body>

</html>
