table {
    width: 100%;
  }
  
  .edit-button-container {
    padding: 16px;
  }
  
  .spinner-container {
    position: absolute;
    top: 10%;
    left: 30%;
    position: fixed;
  }

  .row-is-selected {
    font-weight: bold;
  }
