<div>

  <h2 mat-dialog-title>{{title}}</h2>

  <mat-dialog-content>
    <div class="spinner-container" *ngIf="tableDataSource.loading$ | async">
      <mat-spinner [diameter]="300"></mat-spinner>
    </div>
    
    <!--div class="mat-elevation-z8"-->
      <div>
      <table mat-table [dataSource]="tableDataSource" multiTemplateDataRows  matSort #sortMaster matSortDisableClear
      matSortActive="dateTime" matSortDirection="desc"> 

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>Select</th>
          <td mat-cell *matCellDef="let rowMaster">
            <mat-checkbox [checked]="rowMaster.dateTime === selectedDateRow?.dateTime" [indeterminate]="false"
              (check)="switchDetails(rowMaster)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="dateTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date/Time </th>
          <td mat-cell class="mat-small" *matCellDef="let element">{{element.dateTime}} </td>
        </ng-container>

        <ng-container matColumnDef="count">
          <th mat-header-cell style="text-align: right;" *matHeaderCellDef mat-sort-header> Count </th>
          <td mat-cell class="mat-small" style="text-align: right;" *matCellDef="let element">{{element.count}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsDate"></tr>
        <tr mat-row (click)="switchDetails(rowMaster)" [class.row-is-selected]="rowMaster.dateTime === selectedDateRow?.dateTime"
          *matRowDef="let rowMaster; columns: displayedColumnsDate;">
        </tr>
      </table>

      <mat-paginator #paginatorMaster [pageSizeOptions]="[10, 20, 30, 100]" showFirstLastButtons aria-label="Select page"
        class="mat-elevation-z8" [length]="numberOfDateRows$ | async" [pageSize]="10"></mat-paginator>
    </div>

    <table id=sortDetails #sortDetails mat-table [dataSource]="detailsDataSource" matSort matSortDisableClear
      matSortActive="Count" matSortDirection="desc">

      <ng-container matColumnDef="continent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Continent </th>
        <td mat-cell class="mat-small" *matCellDef="let element">{{element.continent}} </td>
      </ng-container>
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
        <td mat-cell class="mat-small" *matCellDef="let element">{{element.country}} </td>
      </ng-container>
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
        <td mat-cell class="mat-small" *matCellDef="let element">{{element.city}} </td>
      </ng-container>
      <ng-container matColumnDef="agent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Agent </th>
        <td mat-cell class="mat-small" *matCellDef="let element">{{element.agent}} </td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
        <td mat-cell class="mat-small" *matCellDef="let element">{{element.role}} </td>
      </ng-container>
      <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Result </th>
        <td mat-cell class="mat-small" *matCellDef="let element">{{element.result}} </td>
      </ng-container>
      <ng-container matColumnDef="count">
        <th mat-header-cell style="text-align: right;" *matHeaderCellDef mat-sort-header> Count </th>
        <td mat-cell class="mat-small" style="text-align: right;" *matCellDef="let element">{{element.count}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsDetails"></tr>
      <tr mat-row *matRowDef="let rowDetails; columns: displayedColumnsDetails;"></tr>
    </table>
    <mat-paginator #paginatorDetail [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons aria-label="Select page"
     [pageSize]="5"></mat-paginator>
 
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button (click)="close()">Close</button>

    <mat-form-field style="margin-left: 16px;" appearance="fill">
      <mat-label>Aggregate</mat-label>
      <mat-select #formatSelector matNativeControl [(value)]="format2query" required>
        <mat-option value="minute">Minute</mat-option>
        <mat-option value="hour">Hour</mat-option>
        <mat-option value="day">Day</mat-option>
        <mat-option value="month">Month</mat-option>
        <mat-option value="year">Year</mat-option>
        <mat-option value="totals">Totals</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-actions>
</div>