table {
  width: 100%;
}

.row-is-selected {
  font-weight: bold;
}

.row-is-to-expire {
  text-decoration: line-through;
  text-decoration-style: wavy;
  text-decoration-color: red;
}

.edit-button-container {
  padding: 16px;
}

.edit-button+.edit-button {
  margin-left: 8px;
}

.spinner-container {
  display: inline-block;
  vertical-align: middle;

}