<div class="aliases">

  <div class="edit-button-container">
    <button mat-raised-button color="accent" data-testid="home-button" (click)="goHome()" class="edit-button">
      Home
    </button>
    <button mat-raised-button color="accent" data-testid="add-random-button"
      [disabled]="ROLES[grantedRole] < ROLES['Editor']" (click)="addRandomAlias()" class="edit-button">
      Add random alias
    </button>
    <button mat-raised-button color="accent" data-testid="add-button" [disabled]="ROLES[grantedRole] < ROLES['Editor']"
      (click)="addNamedAlias()" class="edit-button">
      Add named alias
    </button>
    <button mat-raised-button color="accent" data-testid="edit-button"
      [disabled]="!selectedAlias || !userIsAllowed2Edit()" (click)="editData(selectedAlias)" class="edit-button">
      Edit alias
    </button>
    <button mat-raised-button color="accent" data-testid="delete-button"
      [disabled]="!selectedAlias || !userIsAllowed2Edit()" (click)="deleteData(selectedAlias)" class="edit-button">
      Delete alias
    </button>
    <button mat-raised-button color="accent" data-testid="stats-button"
      [disabled]="!selectedAlias || !userIsAllowed2Edit()" (click)="showStats(selectedAlias)" class="edit-button">
      Statistics
    </button>
  </div>

  <div class="spinner-container" *ngIf="tableDataSource.loading$ | async">
    <mat-spinner [diameter]="300"></mat-spinner>
  </div>

  <table class="mat-elevation-z8">
    <tr>
      <td>Filter Alias <input #filterAlias></td>
      <td>Filter Owner <input #filterOwner></td>
      <td>Filter URL <input #filterUrl></td>
    </tr>
  </table>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="tableDataSource" matSort matSortDisableClear matSortActive="fullUrl"
      matSortDirection="asc" multiTemplateDataRows>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>Select</th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox [checked]="row.id === selectedAlias?.id" [indeterminate]="false" (check)="selectedAlias=row">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="alias">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Alias </th>
        <td mat-cell *matCellDef="let element" [class.row-is-to-expire]="element.expiryDate !== ''">{{element.alias}}
        </td>

      </ng-container>

      <ng-container matColumnDef="public">
        <th mat-header-cell *matHeaderCellDef> Public? </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [checked]="element.public" (click)="$event.preventDefault()"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
        <td mat-cell *matCellDef="let element">{{element.owner}}</td>
      </ng-container>

      <ng-container matColumnDef="fullUrl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> URL </th>
        <td mat-cell *matCellDef="let element">{{element.fullUrl}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row (onDoubleClick)="editData(selectedAlias)" (click)="selectedAlias=row"
        [class.row-is-selected]="row.id === selectedAlias?.id" *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons aria-label="Select page"
      class="mat-elevation-z8" [length]="numberOfRows$ | async" [pageSize]="15"></mat-paginator>
  </div>
  <div>
    <p style="text-align: end;"> User: {{ userName }}, Role: {{ grantedRole }}</p>
  </div>